{% if mensajes.length != 0 %}
    {% for mensaje in mensajes %}
        <div class="card mt-1 mb-1">
            <div class="card-header">
                <div class="row">
                    <div class="form-group col-lg-6 text-left">
                        {{mensaje.asunto}}
                    </div>
                    <div class="form-group col-lg-6 text-right">
                        {{mensaje.remitente}} - {{mensaje.fecha.toLocaleDateString()}} {{mensaje.fecha.toLocaleTimeString()}}
                        <button class="btn btn-sm btn-outline-warning btn_iniciar_modificar_comentario" type="button"
                                data-id_comentario="{{mensaje._id.toString()}}"
                                data-nombre="{{mensaje.remitente}}"
                                data-asunto="{{mensaje.asunto}}"
                                data-mensaje="{{mensaje.mensaje}}">Modificar</button>
                        <button class="btn btn-sm btn-outline-danger" type="button" id="btb_eliminar_comentario"
                                data-id_comentario="{{mensaje._id.toString()}}">Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="card-body text-justify">
                <p>{{mensaje.mensaje}}</p>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="form-group col-lg-12">
            <div class="alert alert-secondary">
                No hay mensajes en el foro, agregue uno nuevo
            </div>
        </div>
    </div>
{% endif %}