</div> <!-- etiqueta fin del div.container-->
<!-- cargamos los scripts de bootstrap y de jquery-->
<script src="assets/framework/jquery/jquery-3.5.1.min.js"></script>
<script src="assets/framework/bootstrap45/js/bootstrap.min.js"></script>
<script src="assets/framework/bootstrap45/js/bootstrap.bundle.min.js"></script>

<script src="assets/framework/jquery/js_validate/jquery.validate.min.js"></script>
<script src="assets/framework/jquery/js_validate/localization/messages_es.min.js"></script>

<!-- otros scripts -->
<script src="assets/js/{{entregable}}/backend.js"></script>
<script src="assets/js/{{entregable}}/master.js"></script>
<script src="assets/js/{{entregable}}/operaciones.js"></script>
<script src="assets/js/{{entregable}}/catalogo.js"></script>
<script src="assets/js/{{entregable}}/vistas.js"></script>

</body>
</html>