<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Enrique Corona Ricaño">
    <meta name="description" content="Trabajo de implementación de un solución basada en un aplicación web">
    <meta name="keywords" content="Enrique Corona Ricaño, Ingenieria y desarrolo en la web">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/framework/bootstrap45/css/bootstrap.min.css">
    <!-- css master para el sitio -->
    <link rel="stylesheet" href="assets/css/master.css">
    <title>App Web</title>

    <link rel="icon" href="assets/img/logo.png">

</head>
<body>

<!-- contenedor principal -->
<div class="container">

    <div id="contenedor_mensajes" style="display: none"></div>

    <!-- aqui ira el contenido dinamico a renderizar -->