<!-- html del menu -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-2 mb-3">
    <img src="assets/img/logo.png" width="50" height="50" class="d-inline-block align-top" alt="" loading="lazy">
    <a class="navbar-brand ml-1" href="#">Mi app Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuTiendaEcommerse" aria-controls="menuTiendaEcommerse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuTiendaEcommerse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Enrique</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Corona</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ricaño</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">App con MongoDB</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-5">
            <li class="nav-item">
                <span class="nav-link active">UNIR México</span>
            </li>
        </ul>
    </div>
</nav>